<div id="site_footer">
	<div class="sf_inner">
        <div class="sfi_menu">
            <div><a href="">About Us</a> | <a href="">Current Challenges</a> | <a href="">Member Profiles</a> | <a href="">Shopping</a> | <a href="">Non Profits Profiles</a> | <a href="">FAQ</a> | <a href="">Blogs</a> | <a href="">Contact Us</a></div>
            <div><a href="">Advertising Info</a> | <a href="">Affiliate Info</a> | <a href="">Sponsersip Info</a></div>
        </div>
        <div class="copy_right">Copyright {{ date('Y') }}. club4causes, All rights reserved. <a href="">Privacy Policy</a> &nbsp;|&nbsp; <a href="">Terms of Usage</a></div>
    </div>
</div>
