*~
*.bak
Thumbs.db
desktop.ini
composer.lock
.DS_Store
.buildpath
.project
.settings
.tmpoj
.idea
fuel/.composer/
fuel/app/cache/
fuel/app/logs/
fuel/app/tmp/
fuel/app/config/development/migrations.php
public/web_data/organization_logo/*
public/web_data/benefactor/*
public/web_data/donor/*
public/web_data/member/*
public/web_data/celebrities/*
