<div id="cp_left">

{% if cause_title %}
    <h1>{{ cause_title|title }} Celebrity campaigners</h1>
{% else %}
    <h1>Celebrity Causes</h1>
{% endif %}

{% include "cause-div-links.twig" %}

</div>

<div id="cp_right">
  <div>
    <div align="right">
      <a href="/"><input type="submit" class="members_home2_btn" value="" name=""></a>&nbsp;&nbsp;
    </div>
  </div>
  <div style="background-color:#FFFFDD;width:155px"><center></center></div>
</div>
