<div id="cp_left">

    <h1>Charitable celebrities by field</h1>

{% include "field-div-links.twig" %}

</div>

<div id="cp_right">
  <div>
    <div align="right">
      <a href="/"><input type="submit" class="members_home2_btn" value="" name=""></a>&nbsp;&nbsp;
    </div>
  </div>
  <div style="background-color:#FFFFDD;width:155px"><center></center></div>
</div>
