                    <!-- full width -->
                    <div class="widget" >
                        <div class="header"><span ><span class="ico gray stats_lines"></span>Site Statistics</span></div>
                        <div class="content" > <br  class="clear"/>


                        <!-- Third / Half column-->
                        <div class="widgets">
                            <div class="oneThree">
                                <div class="shoutcutBox"> <span class="ico color chat-exclamation"></span> <strong>23</strong> <em>pending orders</em> </div>
                                <div class="breaks"><span></span></div>
                                <!-- // breaks -->
                                <div class="shoutcutBox" > <span class="ico color item"></span> <strong>1,538</strong> <em> Item in shop</em> </div>
                                <div class="shoutcutBox"> <span class="ico color group"></span> <strong>4,452</strong> <em>Total Member</em> </div>
                                <div class="shoutcutBox"> <span class="ico color emoticon_grin"></span> <strong>152</strong> <em>New  Register </em> </div>
                                <div class="breaks"><span></span></div>
                                <!-- // breaks -->
                                <div class="shoutcutBox"> <span class="ico color emoticon_in_love"></span> <strong>359</strong> <em>Today view pages</em> </div>
                                <div class="shoutcutBox last"> <span class="ico color connect"></span> <strong>152</strong> <em>user online </em> </div>

                                <br/><br/>
                            </div>

                            <div class="twoOne">
                                <div  class="Onechart">
                                    <table class="chart" style="width : 100%;">
                                        <thead>
                                            <tr>
                                                <th width="10%"></th>
                                                <th width="25%" style="color : #bedd17;">Demo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>700</td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>500</td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>650</td>
                                            </tr>
                                            <tr>
                                                <th>4</th>
                                                <td>400</td>
                                            </tr>
                                            <tr>
                                                <th>5</th>
                                                <td>650</td>
                                            </tr>
                                            <tr>
                                                <th>6</th>
                                                <td>750</td>
                                            </tr>
                                            <tr>
                                                <th>7</th>
                                                <td>550</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div><!-- End Third / Half column-->

                            <!-- clear fix -->
                            <div class="clear"></div>
                            
                        </div><!-- End content -->
                    </div><!-- End full width -->
