                    <!-- Two column window column_left -->
                    <div class="column_left">

                        <!-- full width -->
                        <div class="widget">
                            <div class="header"><span><span class="ico gray notepad"></span> Last Contact</span></div>
                            <div class="content tableName">
                                <table class="display data_table" >
                                    <thead>
                                        <tr>
                                            <th width="224" ><div style="text-align:left; margin-left:10px" >Topic </div></th>
                                            <th width="195" ><div style="text-align:right; " >Date </div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td ><div class="msg">
                                                    <div class="msg_icon new"></div>
                                                    <div class="msg_topic"><strong>SystemSite</strong> <span>Topic name</span></div>
                                                </div></td>
                                            <td ><div class="msg_date" >a few seconds ago <span>2012/02/02 </span></div></td>
                                        </tr>
                                        <tr>
                                            <td ><div class="msg">
                                                    <div class="msg_icon new"></div>
                                                    <div class="msg_topic"><strong>Pinyo</strong> <span>Topic  name</span></div>
                                                </div></td>
                                            <td ><div class="msg_date" >55 seconds ago <span>2012/02/02 </span></div></td>
                                        </tr>
                                        <tr>
                                            <td ><div class="msg">
                                                    <div class="msg_icon new"></div>
                                                    <div class="msg_topic"><strong>John Doe</strong> <span>Topic name</span></div>
                                                </div></td>
                                            <td ><div class="msg_date" >45 minute ago <span>2012/02/02 </span></div></td>
                                        </tr>
                                        <tr>
                                            <td ><div class="msg">
                                                    <div class="msg_icon open"></div>
                                                    <div class="msg_topic">John Doe <span>Topic name</span></div>
                                                </div></td>
                                            <td ><div class="msg_date" >10 day ago <span>2012/02/02 </span></div></td>
                                        </tr>
                                        <tr>
                                            <td ><div class="msg">
                                                    <div class="msg_icon open"></div>
                                                    <div class="msg_topic">Sineeya <span>Topic  name</span></div>
                                                </div></td>
                                            <td ><div class="msg_date" >10 day ago <span>2012/02/02 </span></div></td>
                                        </tr>
                                        <tr>
                                            <td ><div class="msg">
                                                    <div class="msg_icon ans"></div>
                                                    <div class="msg_topic">Lanna <span>RE: Topic name</span></div>
                                                </div></td>
                                            <td ><div class="msg_date" >19 day ago <span>2012/02/02 </span></div></td>
                                        </tr>
                                        <tr>
                                            <td ><div class="msg">
                                                    <div class="msg_icon new"></div>
                                                    <div class="msg_topic"><strong>Romace</strong> <span>Topic name</span></div>
                                                </div></td>
                                            <td ><div class="msg_date" >25 day ago <span>2012/02/02 </span></div></td>
                                        </tr>
                                        <tr>
                                            <td ><div class="msg">
                                                    <div class="msg_icon open"></div>
                                                    <div class="msg_topic">Meny Chaiya <span>Topic name</span></div>
                                                </div></td>
                                            <td ><div class="msg_date" > 2 Months. <span>2012/01/02 </span></div></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div><!-- End content -->
                        </div><!-- End full width -->

                    </div><!-- End column_left -->
