                    <!-- Two column window column_right -->
                    <div class="column_right" >

                        <!-- full width -->
                        <div class="widget">
                            <div class="header"><span><span class="ico gray access_point"></span> New update</span></div>
                            <div class="content">
                                <div id="news_update" style="position: relative;" >
                                    <ul style="position: absolute; margin: 0pt; padding: 0pt; top: 0px; width: 100%;">
                                        <li>
                                            <div class="temp_news"><img src="exampic/25.jpg" alt="emptyimg" /></div>
                                            <div class="detail_news">
                                                <div class="boxtitle min" > New update, topic 1</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Quisque non leo
                                                    convallis nibh tristique commodo. </p>
                                                <span class="datepost">02/25/2012</span><span class="morelink"><a href="#" class="red">more</a></span> </div>
                                            <br class="clear"/>
                                        </li>
                                        <li>
                                            <div class="temp_news"><img src="exampic/23.jpg" alt="emptyimg" /></div>
                                            <div class="detail_news">
                                                <div class="boxtitle min" > New update , topic 2</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Quisque non leo
                                                    convallis nibh tristique commodo. </p>
                                                <span class="datepost">02/25/2012</span><span class="morelink"><a href="#" class="red">more</a></span> </div>
                                            <br class="clear"/>
                                        </li>
                                        <li>
                                            <div class="temp_news"><img src="exampic/26.jpg" alt="emptyimg"/></div>
                                            <div class="detail_news">
                                                <div class="boxtitle min" > New update , topic 3</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Quisque non leo
                                                    convallis nibh tristique commodo. </p>
                                                <span class="datepost">02/25/2012</span><span class="morelink"><a href="#" class="red">more</a></span> </div>
                                            <br class="clear"/>
                                        </li>
                                    </ul>
                                </div>

                            </div><!-- End content -->
                        </div><!-- End full width -->

                        <!-- full width -->
                        <div class="widget">
                            <div class="header"><span><span class="ico gray record"></span> Welcome  to site</span></div>
                            <div class="content">

                                <!-- title box -->
                                <div class="boxtitle min"> Welcome to site ,or your information data </div>

                                <p class="overflow" style="height:165px">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Quisque non leo convallis nibh tristique commodo.
                                    Cras tincidunt hendrerit pharetra. Etiam erat magna,
                                    egestas sed placerat at, congue sed nisi. Nullam
                                    eget varius leo. Integer at justo a velit imperdiet
                                    pulvinar. Sed magna mi, sodales sit amet aliquet
                                    ac, eleifend eget sem. Nam ipsum lectus, fringilla
                                    sed rutrum ac, tempus in orci. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Quisque non leo convallis nibh tristique commodo.
                                    Cras tincidunt hendrerit pharetra. Etiam erat magna,
                                    egestas sed placerat at, congue sed nisi. Nullam
                                    eget varius leo. Integer at justo a velit imperdiet
                                    pulvinar. Sed magna mi, sodales sit amet aliquet
                                    ac, eleifend eget sem. Nam ipsum lectus, fringilla
                                    sed rutrum ac, tempus in orci.  Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Quisque non leo convallis nibh tristique commodo.
                                    Cras tincidunt hendrerit pharetra. Etiam erat magna,
                                    egestas sed placerat at, congue sed nisi. Nullam
                                    eget varius leo. Integer at justo a velit imperdiet
                                    pulvinar. Sed magna mi, sodales sit amet aliquet
                                    ac, eleifend eget sem. Nam ipsum lectus, fringilla
                                    sed rutrum ac, tempus in orci. </p>

                            </div><!-- End content -->
                        </div><!-- End full width -->

                    </div><!-- End column_right -->
