<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray home"></span> Site Data manager </span>{# include "0021.live_search.twig" #}</div><!-- End header -->
    <div class="content">

        <!-- Half width column-->
        <div class="widgets">
            <div class="twoOne">
                The quick brown fox is good text.
            </div>

        </div><!-- End Half width column -->

        <!-- clear fix -->
        <div class="clear"></div>
        
    </div><!-- End content -->
</div><!-- End full width -->
